/* 
.dash-nav-links{
    font-size: 14px;
    line-height: 21px;
  
    color:#717171;
} 

 .dash-nav-links .active{
    background-image: linear-gradient(to right, primary, secondary);
    color: white;
    border-radius: 30px;
} */
