/* NavLink .active-nav {
  background-color: white;
  padding: 20px 45px;
  border-radius: 100px;
  color: black;
} */

.nav-nav-link .active {
  background-image: linear-gradient(to right, #44a199, #504999);
  color: white;
  font-weight: 500;
}


/* .dash-nav-links{
    font-size: 14px;
    line-height: 21px;
    padding: 16px 24px;
    background-color: white;
}  */
/* .menu-show:hover {
  display: block;
} */


.dash-nav-links{
    font-size: 14px;
    line-height: 21px;
    padding: 16px 24px;
    color:black
} 

 .dash-nav-links .active{
    background-image: linear-gradient(to right, primary, secondary);
    color: white;
    border-radius: 30px;
}