NavLink .active-nav{
    background-color: white;
    padding: 20px 45px;
    border-radius: 100px;
    color: black;
}


NavLink .active-nav:hover {
  background-image: linear-gradient(to right, #504999, #504999);
  color: white;
  font-weight: 500;
}

.menu-show:hover{
    display: block;
}